<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mione/mione-webhooks/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mione/mione-webhooks/index.php [L]
</IfModule>