<?php

define('ENV', [
  'DEBUG_MODE' => true,
  'BASEPATH' => '/mione/mione-webhooks/',
  'DB' => [
    'DSN' => 'mysql:host=localhost;dbname=mione_webhooks',
    'USER' => 'user',
    'PASS' => 'password'
  ],
  'REPOSITORIES' => [
    'user/repo' => [
      'GITHUB_SECRET' => 'secret-key',
      'DISCORD_CHANNEL_WEBHOOK' => 'https://discordapp.com/api/webhooks/'
    ]
  ]
]);